# do not track compiled python files
__pycache__/
assignment_1_flask_app/*.pyc

# do not track the virutal environment
assignment_2_app/venv

# do not track initialisation files
assignment_2_app/*.ini
